.breadcrumb_not_active {
  text-decoration: none;
 color: #cccccc;
}

.breadcrumb_active {
  text-decoration: none;
 color: #71008e;
 font-weight: bold;
}

.breadcrumb_arrow {
 margin-left: 10px;
 margin-right: 10px;
}
