[class^="swiper-button-"]::after {
 font-size: 18px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 22px;
 height: 22px;
 background: linear-gradient(270deg, #71008e, #ef7889);
 padding: 5px;
 border-radius: 50%;
 color: #f7f7f7;
}

.swiper-gradient-bg-animation {
 background: linear-gradient(270deg, #71008e, #ef7889);
 background-size: 200% 200%;

 -webkit-animation: gradient-background 20s ease infinite;
 -moz-animation: gradient-background 20s ease infinite;
 animation: gradient-background 20s ease infinite;
}

@-webkit-keyframes gradient-background {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
@-moz-keyframes gradient-background {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
@keyframes gradient-background {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
