.categoryListItem {
  font-size: 15px;
  
  margin: 0 0 15px;
  cursor: pointer;
}
.categoryListItem span {
  color: #6e6e6e;
}
.categoryListItem a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.categoryHamburgerMenu {
  list-style-type: none;
}
