.cardBox {
 height: 100%;
 background-color: #fff;
 overflow: hidden;
 border-radius: 15px;
 cursor: pointer;
 display: flex;
 flex-direction: column;
}

.cardBoxProducts {
 border: 2px solid #e0e0e0;
 box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.09);
 transition: all ease-in-out 0.2s;
}
.cardBoxProducts:hover {
 transform: scale(1.1);
}

.cardBox__img {
 padding: 20px 25px;
 width: 100%;
 height: 195px;
}

.cardBox__price {
 padding: 2px 10px;
 display: flex;
 justify-content: space-between;
}

.cardBox__price_title {
 font-weight: 600;
}

.cardBox__price_toman {
 margin-right: 5px;
 font-size: 12px;
}

.cardBox__inventory {
 cursor: default;
 font-size: 12px;
 color: #3f3f3f;
 padding: 2px 10px;
 display: flex;
 align-items: center;
 column-gap: 5px;
 margin-bottom: 8px;
}

.cardBox__inventory_count {
 font-weight: bold;
 color: #71008e;
}

.cardBox__addToCartBtn {
 flex-grow: 1;
 border: none;
 font-family: "vazir";
 cursor: pointer;
 color: #3f3f3f;
 background-color: #f7f7f7;
 transition: all ease-in-out 0.2s;
 height: 40px;
}

.cardBox__addToCartBtn:hover {
 color: #f7f7f7;
 background-color: #3f3f3f;
}
